.App-wrapper {
  display: grid;
  /*grid-template-rows: 20vmin 1fr;*/
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
          "h h"
          "me ma";
  grid-gap: 2px;
}

.App-wrapper-content{
    grid-area: ma;
    display: grid;
    background-color: #d5dbe7;
    grid-gap: 1em;
    min-height: 80vmin;
}




